<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title><%= title %></title>
</head>
<body>
  <nav>
    <ul class="right">
      <li>
        <% if (user) { %>
          <span>Hi <%= user.name %>!</span>
          <a href="/logout"><span>Log Out</span></a>
        <% } else { %>
          <a href="/auth/google"><span>Login with Google</span></a>
        <% } %>
      </li>
    </ul>
    <a href="/"><span>Founders</span></a>
    <a href="/documents"><span>Documents</span></a>
    <a href="/users"><span>Home</span></a>
    <a href="/founders/new"><span>Add Founder</span></a>
    <a href="/documents/new"><span>Add Document</span></a>
  </nav>
<main>
<h1><span><%= title %></span></h1>