body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(https://cdn.britannica.com/21/143621-050-D0409B47/Declaration-of-Independence-canvas-rotunda-John-Trumbull-July-4-1776.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Oldtown, fantasy;
}

a {
  color: rgb(228, 174, 76);
}

a span {
  border-radius: 4px;
  background-color: rgb(99, 96, 66);
}

nav {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

h1 {
  color: white;
  text-decoration: overline;
  display: grid;
  justify-content: center;
  font-size: 40px;
}


#profile, #mug {
  display: grid;
  justify-content: center;
}

#new-founders-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}

#new-form, #edit-form {
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  width: 190px;
}

#edit-form span {
  border-style: groove;
  border-width: 5px;
  border-radius: 15px;
  background-image: linear-gradient(rgb(224, 203, 175), rgb(150, 116, 76));
}

#new-form span {
  border-style: groove;
  border-width: 5px;
  border-radius: 15px;
  background-image: linear-gradient(rgb(224, 203, 175), rgb(150, 116, 76));
}

#info {
  margin: 15px 45px;
  background-image: linear-gradient(rgb(224, 203, 175), rgb(161, 127, 87));
  border-width: 5px;
  border-color: rgb(80, 40, 22);
  border-style: groove;
}


#docList {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
}

#one-doc {
  margin: 20px 20px 20px 20px;
  background-image: linear-gradient(rgb(224, 203, 175), rgb(150, 116, 76));
}

#descriptions, #doc-title, #founder-name, #home-state, #descriptionshref, #descriptions-heading, #signer-description, #profile-about, #doc-description, #pres-description, .bigMug {
  margin: 0 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  font-size: 18px;
}

#pres-description {
  margin-top: -26px;
}

#achievement-desc {
  font-size: 18px;
}

h2 {
  text-decoration: overline;
  display: grid;
  justify-content: center;
  color: white;
}

#selector, #documentId, #achievements-input {
  display: flex;
  justify-content: center;
  text-align: center; 
}

#selector {
  margin: 10px auto;
}

#achievements-input {
  margin: 10px auto 0 auto;
  min-height: 30px;
  min-width: auto;
}

#home-state span {
  padding: 0 8px;
  margin: 0 6px;
}

#amount-of-likes {
  margin-right: 10px;
  display: grid;
  justify-content: flex-end;
  font-size: 16px;
  color: white;
}

#descriptionshref, #doc-title, #founder-name {
  font-size: 38px;
  border-radius: 4px 4px 0 0;
  height: auto;
  margin: 12px 0;
  font-family: Apple Chancery, cursive;
  background-color: rgb(133, 114, 90);
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-style: groove;
}

#descriptionshref {
  font-size: 45px;
}

#delete-button {
  margin-top: 5px;
  width: 40px;
  height: 40px;
  background-color: rgb(143, 75, 75);
  border-radius: 10px;
  font-size: 25px;
}

#whole-founder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#achievements-section, #founders-documents, #profile {
  justify-content: center;
  background-image: linear-gradient(to bottom right, rgb(161, 140, 93), rgb(224, 203, 175) );
  min-height: 120px;
  margin: 10px;
}

#descriptions-heading {
  font-size: 22px;
  border-radius: 4px 4px 0 0;
  height: auto;
  margin: 12px 0;
  font-family: Apple Chancery, cursive;
  background-color: rgb(133, 114, 90);
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-style: groove;
}

#like-section {
  display: grid;
  justify-content: flex-end;
}

a:hover {
  color: black;
}

.mugshot {
  height: 260px;
  width: 250px;
}

#doc-descriptions {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#profile-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#profile-img {
  padding-bottom: 8px;
  margin: 5px auto;
}

#profile-about {
  font-size: 38px;
}

#signer-description span{
  margin: -8px 0 5px 0;
  color: white;
  font-family: Apple Chancery, cursive;
  font-size: 28px;
  text-decoration: underline;
}

#doc-description {
  font-size: 24px;
  font-family: Apple Chancery, cursive;
  margin-bottom: 4px;;
}

#doc-signer {
  text-decoration: none;
  color: black;
}

#doc-signer:hover {
  color: white;
}

.bigMug {
  height: 300px;
  width: 250px;
}

@media only screen and (min-width: 850px) {

  #docList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
  }

}


@media only screen and (min-width: 650px) {
  #new-founders-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
  }
  
  #info {
    margin: 25px;
    background-color: rgb(224, 203, 175);
    border-width: 3px;
    border-top: grey;
    border-left: grey;
  }
  .mugshot {
    height: 160px;
    width: 150px;
  }
  #descriptionshref {
    font-size: 30px;
    border-radius: 4px 4px 0 0;
    height: auto;
    margin: 12px 0;
    font-family: Apple Chancery, cursive;
    display: grid;
    justify-content: center;
    background-color: rgb(133, 114, 90);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-style: groove;
  }
  
}

@media only screen and (min-width: 1000px) {
  #new-founders-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
  }
  
  #info {
    font-family: Apple Chancery, cursive;
    margin: 25px;
    background-color: rgb(224, 203, 175);
    border-width: 3px;
    border-top: grey;
    border-left: grey;
  }
  #whole-founder, #like-section {
    margin: 0 150px;
  }

  #profile {
    margin-left: 120px;
    margin-right: 120px;
  }
}
